/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
.content { margin: 8px 8px 0; }
code { font-family: 'Roboto Mono', monospace; }
