<div class="content">
    <p>
        An <abbr title="Integrated Development Environment">IDE</abbr> is used for programming because it is easy to use. It can make certain parts of
        programming easier with autocomplete and allows you to run code without the terminal. In this lessons, you will learn how to install an IDE called
        IntelliJ IDEA. If you already have installed it, you may skip to the next lesson.
    </p>

    <h2>If you already have JetBrains IDEs</h2>

    <p>
        If you installed another JetBrains IDE before, you may have installed a tool called JetBrains Toolbox. If you have it, you can install it there.
        If you bought the All Products Pack, you can install <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA Ultimate</a> for more
        features.  
    </p>

    <h2>If you don't have JetBrains IDEs</h2>

    <p>
        If you don't have JetBrains Toolbox or the All Products pack, you can download IntelliJ IDEA using a download link. As you need more features and
        start maintaining bigger projects, you can install IntelliJ IDEA Ultimate later when you pay for it. For now, you can install
        <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA Community Edition</a>. You can choose to import settings. If this is your first
        time, select no. You can choose your theme, and it will handle the rest.
    </p>

    <h2>Creating a new project</h2>

    <p>
        To start programming in IntelliJ IDEA, you first need to create a project. Click New Project and you can create a Java project.
        <img src="/learnjava/assets/newproject.webp" alt="Name your project, select Java, Gradle, and Groovy">
        Then, you need to install your JDK. Click on the JDK dropdown, and download a JDK. Choose the latest OpenJDK. As of the time of writing, it is
        Java 18.
        <img src="/learnjava/assets/jdk.webp" alt="">
        Next, create the project.
    </p>
</div>
